@model IEnumerable<SZPD.Models.Lecturer>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Imię")
            </th>
            <th>
                @Html.DisplayName("Nazwisko")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Data aktywacji")
            </th>
            <th>
                @Html.DisplayName("Termin dodawania tematów")
            </th>
            <th>
                @Html.DisplayName("Aktywowane")
            </th>           
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddThesisPermision)
            </td>                 
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>            
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
